.card-style{
    margin: 8px 10px 10px 10px;
}

.color-box{
    background-color: #bcd2e8;
    scroll-behavior: smooth;
    color: #00224b;
    font-family: 'Times New Roman', Times, serif;
}
.font-style{
    color: #00224b;
    font-family: 'Times New Roman', Times, serif;
}
.background{
    background-color: #cbcbd4 ;
}
.shadow-box {
    box-shadow: inset 0 0 8px #b2b0e8;
  }


.logo{
    font-size: 18px;
    font-weight: 700;
    margin-left: 100px;
}
.para-font{
    font-weight: 600; 
    padding-top: 20px; 
    padding-top: 10px;
}
.hero-image{
    width: 475px;
    margin-right: 10px;
    border-radius: 20px;
    margin-top: 20px;
    border-bottom-right-radius: 150px;
    
}
.margin-all{
    margin-top: 75px;
    margin-left: 75px;
    margin-right: 10px;
}

.margin-image{
    margin-top: 75px;
    margin-left: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    border-bottom-right-radius: 150px;
    width: 400px;
    height: 350px;
}
.margin-course{
    margin-left: 40px;
    margin-top: 80px;
}

.margin-course-sub{
    margin-left: 40px;
    margin-top: 40px;
}

.margin-para{
    margin-top: 20px;
    margin-left: 75px;
    font-size: 16px;
    font-weight: 400;
}

.margin-box{
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 75px;
    font-size: 60px;
    font-weight: 600;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;
    padding: 0 4rem;
    color: #00224b;
    margin-right: 10px;  
}

.listings ul li{
    display: flex;
    flex-direction: column;
    font-size: large;
    list-style: none;
    text-decoration: none;
    margin-top: 10px;
}

.draw-up{
    border: #00224b;
    border-width: 4px;
}

a:link 
{   color: #00224b;
    text-decoration:  none; 
        }

a:hover{
    text-decoration: #00224b
}



.spacer{
 border-bottom-right-radius: 150px;
}